/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #c62828;
    border: .05rem solid #8e0000;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #10154d;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

h1 {
    color: #ffffff;
    font-weight: 400;
    font-size: 2em;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.863);
    margin-bottom: 1em;
}

h3 {
    font-family: 'arab';
    font-weight: 100;
    color: #F3DF10;
}

h4 {
    color: #F3DF10;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: white;
    text-shadow: none;
}

@font-face {
    font-family: 'arab';
    src: url('../fonts/arabicMagic.ttf') format('truetype');
}

@font-face {
    font-family: 'restaurant';
    src: url('../fonts/restaurant.ttf') format('truetype');
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/* Custom cards */

.card-neumorph {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em !important;
    height: auto;
    width: 90%;
    max-width: 500px;
    padding: 1.5em;
    border-radius: 50px;
    background: #151b5f;
    box-shadow: inset 0 0 15px rgba(55, 82, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(76, 55, 170, 0.15), -7px -7px 20px rgba(63, 70, 175, 0.705), inset 0px 0px 4px rgba(255, 255, 255, .2);
}

.card-image-neumorph {
    width: 100% !important;
    border-radius: 1em;
    box-shadow: 0px 10px 15px rgba(55, 57, 170, 0.25);
}

.card-colour-beige {
    padding-top: 1em !important;
    color: black !important;
    background-color: #ccc9f1 !important;
}

.item-p {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: -0.5em;
    margin-top: 0.5em;
}

.button {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.8em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    background-color: #161d66 !important;
    width: auto;
    height: 33px;
    text-decoration: none;
    color: #fff;
    outline: none !important;
    border: .0625rem solid #0f1550;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 5px 10px 15px #3743aa28, -5px -8px 15px #7e76c740;
    transition: 0.3s !important;
}

.button:hover {
    background: #05092c;
    border: .0625rem solid #41801c00;
    box-shadow: inset 2px 2px 5px #080c2c, inset -3px -3px 7px #1900ff40;
}

button:active {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.backcard {
    max-width: 500px;
    margin: auto;
    border: #10154d;
    background-color: #6118B4;
}


/* CUSTOM COLOURS */

.text-colour-orange {
    color: #F78000;
}

.text-colour-white {
    color: #fff;
}

.text-colour-black {
    color: #000;
}

.card-colour-darkblue {
    background-color: transparent;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}